.custom-item {
    background-image: url('~assets/img/custom-item1.png');
    min-height: 323px;
    max-width: 201px;
    min-width: 201px;
    @include img-cover(center);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 13.5px;
    margin-bottom: 20px;
    @include screen-min("desk") {
        min-height: 436px;
        max-width: 290px;
        margin: 0 10px;
    }
}

.custom-item__inner {
    padding: 10px;
    background: rgba(37, 37, 37, 0.5);
    height: 100px;
    @include flex-center(center);
    @include screen-min("desk") {
        padding: 47px 20px;
        height: 150px;
    }
}

.custom-item__text {
    font-weight: $bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: $white;
    margin: 0;
    @include screen-min("desk") {
        font-size: 20px;
        line-height: 30px;
    }
}