.banner {
    width: 100%;
    min-height: 360px;
    background-image: url('~/assets/img/banner-img.png');
    padding: 54px 0;
    @include img-cover(center);
    @include screen-min("desk") {
        min-height: 560px;
        padding: 100px 0;
    }
}

.banner__inner {
    width: 100%;
    @include screen-min("desk") {
        max-width: 650px;
    }
}

.banner__heading {
    font-size: 30px;
    line-height: 45px;
    color: $white;
    font-weight: $bold;
    @include screen-min("desk") {
        font-size: 50px;
        line-height: 75px;
    }
}