.buy-item-wrap {
    padding: 44px 0;
    background-color: $grayLight;
    @include screen-min("desk") {
        padding: 54px 0;
    }
}

.buy-item-wrap__inner {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(20,1fr);    
     @include screen-min("desk") {
        grid-gap: 35px;
    }
    
     .buy-item {
        grid-column: span 10;
        @include screen-min("desk") {
            grid-column: span 4;
        }
     }
 }