.description {
    width: 100%;
    padding: 10px 0 50px;
    @include screen-min("desk") {
        padding: 20px 0 80px;
    }
}

.description__inner {
    margin: 0 auto;
    @include screen-min("desk") {
        max-width: 55%;
    }
}