.filter {
    @include flex-center(center);
}

.filter__part {
    max-width: 50%;
    flex: 0 0 50%;
}

.filter__part--first {
    @include screen-min("desk") {
        @include flex-start(center);
    }
}

.filter__part--second {
    @include screen-min("desk") {
        @include flex-end(center);
        .filter__text {
            margin-right: 18px;
        }
    }
}

.filter__mob-btn {
    font-weight: $default;
    font-size: 15px;
    line-height: 22px;
    color: $siteBlack;
    border: 1px solid $siteBlack;
    background-color: $white;
    padding: 11px 17px;
    min-width: 90%;
    transition: ease 0.5s;
    @include flex-between(center);
    @include screen-min("desk") {
        width: 232px;
        min-width: auto;
    }
}

.filter__mob-btn--diff {
    justify-content: center;
    .filter__icon {
        margin-right: 10px;
    }
    @include screen-min("desk") {
        display: none;
    }
}

.filter__icon {
    width: 10px;
    height: 6.5px;
    vertical-align: middle;
    @include screen-min("desk") {
     width: 12px;
     height: 12px;
     margin-left: 5px;
    }
}

.filter__text {
    display: none;
    @include screen-min("desk") {
        display: block;
    }
}

.filter__list {
    padding-left: 0;
    @include flex-between(center);
}

.filter__item {
    list-style: none;
    margin-right: 21px;
    position: relative;
    &:hover {
        .filter__checkbox-list {
            display: block;
        }
    }
}

.filter__checkbox-list {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: $white;
    display: none;
    width: 212px;
    box-shadow:  0 14px 16px 4px rgb(0 0 0 / 14%);
    padding: 18px 21px;
    z-index: 1;
}

.filter__checkbox-item {
    list-style: none;
    font-weight: $thin;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 20px;
    input {
        vertical-align: middle;
    }
}

.filter__btn {
    background-color: $white;
    border: 0;
    padding: 15px 18px;
    &:hover {
        background-color: $white;
        box-shadow: 0px 0px 11px 3px rgb(0 0 0 / 14%);
        filter: brightness(1);
    }
}

.filter__btn--diff {
    border: 1px solid $siteBlack;
}

.pagination {
    @include flex-center(center);
    padding: 15px 0;
    @include screen-min("desk") {
       padding: 30px 0;
    }
}

.pagination__item {
    list-style: none;
    margin-right: 15px;
    &:last-of-type {
        margin-right: 0;
    }
}

.pagination__btn {
    border: 0;
    background-color: $white;
    color: $siteBlack;
    font-weight: $semiBold;
    font-size: 22px;
    line-height: 33px;
    width: 47px;
    height: 47px;
    @include screen-min("desk") {
        width: 54px;
        height: 54px;
    }
}

.pagination__item--active {
    border-bottom: 3px solid $black;
}

.pagination__icon {
    width: 16px;
    height: 16px;
    transform: rotate(-90deg);
    vertical-align: middle;
    @include screen-min("desk") {
        width: 20px;
        height: 20px;
    }
}