.rte {
    h2 {
        font-weight: $semiBold;
        font-size: 22px;
        line-height: 33px;
        text-transform: uppercase;
        position: relative;
        text-align: center;
        margin-bottom: 55px;
        &::before {
            content: '';
            position: absolute;
            background-color: $black;
            width: 60px;
            height: 5px;
            bottom: -18px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        @include screen-min("desk") {
            font-size: 30px;
            line-height: 45px;
            margin-bottom: 45px;
            &::before {
                width: 78px;
                bottom: -21px;
            }
        }
    }
    p {
        font-weight: $default;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        margin-bottom: 42px;
        @include screen-min("desk") {
            font-size: 16px;
            line-height: 24px;
        }
    }
    a {
        font-weight: $bold;
        color: $black;
        font-size: 14px;
        line-height: 21px;
    }
    button {
        font-size: 15px;
        line-height: 40px;
        max-width: 182px;
        font-weight: $medium;
        height: 40px;
        text-transform: uppercase;
        text-align: center;
        border-radius: 0;
        border: 0;
        transition: 0.4s ease-in-out;
        transition-property: background-color;
        background-color: $black;
        padding: 0 57px;
        color: $white;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        position: relative;
        box-shadow: none !important;
        outline: none !important;
    }
}